name: Market Alert Bot

on:
  schedule:
    - cron: "*/30 * * * *"
  workflow_dispatch:

jobs:
  run-bot:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install required libraries
        run: |
          pip install flask
          pip install requests
          pip install pandas
          pip install numpy
          pip install python-telegram-bot

      - name: Run Market Alert Engine
        run: python3 main.py
